<section class="row">
    <div class="col">

        <div class="jumbotron">
            <h1 class="display-4 typewriter">Innovación y Desarrollo</h1>

            <p>Creamos productos innovadores basados en tecnología Blockchain siguiendo un enfoque especulativo que nos permite
                imaginar futuros posibles.
            </p>
            <a class="btn btn-link" href="#" role="button">Ver nuestros proyectos</a>
        </div>

    </div>
    <div class="col">
        <img class="image-big" width="500" src="{{ '/assets/img/pillpack_shipment.jpg' | relative_url }}" alt="image" />
    </div>
</section>
<section>
    <div class="row">
        <div class="col">
            <h4>Proyectos</h4>
        </div>
    </div>
    <div class="row cards d-flex align-content-center flex-wrap">

        <div class="col">
            <div class="card border-0" style="width: 20rem;">
                <img class="card-img-top" width="300" height="250" src="{{ '/assets/img/democrachain-app.jpg' | relative_url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Democrachain</h5>
                    <p class="card-text">Sistema IoT Basado en Smart Contracts
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0" style="width: 20rem;">
                <img class="card-img-top" width="300" height="250" src="{{ '/assets/img/dao-biot.jpeg' | relative_url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">B-IoT</h5>
                    <p class="card-text">Diseño de un sistema Blockchain para transportes inteligentes
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0" style="width: 20rem;">
                <img class="card-img-top" width="300" height="250" src="{{ '/assets/img/obsidian.jpeg' | relative_url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Obsidian</h5>
                    <p class="card-text">Una plataforma para compartir equipo de agricultura
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col">
            <h4>Tienes una idea?</h4>
        </div>

    </div>
    <div class="row">
        <div class="col contact-us d-flex flex-column justify-content-center align-items-center">
            <h1 class="p-2">Contactanos</h1>
            <a class="btn btn-link p-2" href="mailto:contacto@labchain.co" role="button">Contacto@labchain.co</a>
        </div>


    </div>

</section>